{{> header }}

<div class="containerBox">
    <div class="row">
        <div class="col-8">
            <h4 class="titleStat">Statistics for Granule <strong>{{name}}</strong></h4>
            {{!-- - Dates: <span>{{start}}</span> to <span>{{end}}</span> --}}
        </div>
        <div class="col-4">
            <button id="buttonColor" class="btn btn-lg btn-primary buttonPosition">Download Metadata</button>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="col-8">
            <h4 class="titleStat">Orbit Direction: <strong>{{orbitDirection}}</strong></h4>
        </div>
    </div> --}}
    <div class="row">
        <div class="col-3">
             {{!-- Number of Images --}}
            <div id="images" class="square">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-camera-retro iconBig"></i>
                    </div>
                    <div class="col-8">
                        <div class="resultSquare">
                            <p>{{numOfImages}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleSquare">Number of Images</h4>
                    </div>
                </div>
                </div>
            </div>
        <div class="col-3">
             {{!-- Orbit Direction --}}
            <div id="areaOfInt" class="square">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-draw-polygon iconBig"></i>
                    </div>
                    <div class="col-8">
                        <div class="resultSquare">
                            <p>{{orbitDirection}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleSquare">Orbit Direction</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            {{!-- Available Dates --}}
            <div id="cloud" class="square">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-cloud iconBig"></i>
                    </div>
                    <div class="col-8">
                        <div class="resultSquare">
                            <p>From: {{start}}</p>
                            <p>To: {{end}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleSquare">Available Dates</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
             {{!-- Revisiting Time --}}
            <div id="revTime" class="square">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-satellite iconBig"></i>
                    </div>
                    <div class="col-8">
                        <div class="resultSquare">
                            <p>{{revisitTime}} Day</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleSquare">Revisiting Time</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="titleStat">Clouds Coverage</h4>
            <div id="containerChart">
                <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

    <script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var labelsStr = '{{labels}}'
    var dataStr = '{{data}}'
    var labels = labelsStr.split(',')
    var data = dataStr.split(',')
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: labels,
        datasets: [{
            label: 'Cloud Coverage',
            backgroundColor: 'rgba(47,91,183,0.3)',
            borderColor: 'rgb(47, 91, 183)',
            data: data
        }]
    },
    // Configuration options go here
    options: {
        maintainAspectRatio: false
    }
});

</script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{> footer }}
